/* Global =======*/
:root {
  --dark-blue: #363F5F;
  --light-blue: #6f7797;
  --dark-green: #2D4A22;
  --light-green: #49AA27;
  --red-dragon: #E92929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  background-color: #dfdfdf;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

.sr-only { 
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(nowrap);
  border-width: 0; 
}

/* Titles =======*/
h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: normal;
}

/* Buttons & Links =======*/
a {
  color: var(--dark-blue);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

a:hover {
  color: var(--light-blue);
}

.button.new {
  display: inline-block;
  margin-bottom: .8rem;  
}

button {
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  background-color: var(--light-green);
  padding: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: #3DD705;
}

.button.cancel {
  color: var(--red-dragon);
  border: 2px var(--red-dragon) solid;
  border-radius: 0.25rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.button.cancel:hover {
  opacity: 1;
}

/* Header =======*/
header {
  background: var(--dark-green);
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: white;
  font-weight: 100;
}

/* Balance section =======*/
#balance {
  margin-top: -8rem;
}

#balance h2 {
  color: white;
  margin-top: 0;
}

/* Cards =======*/
.card {
  background-color: white;
  padding: 1.5rem 2rem;
  color: var(--dark-blue);
  margin-bottom: 0.8rem;
  border-radius: 0.25rem;
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  font-weight: normal;
  line-height: 3rem;
  margin-top: 1rem;
}

.card.total {
  background-color: var(--light-green);
  color: white;
}

/* Table section =======*/
#transaction {
  display: block;
  overflow-x: auto;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: white;
}


table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table th {
  background-color: var(--light-blue);
  opacity: 0.8;
  font-weight: normal;
  text-align: left;
  padding: 1rem 2rem;
}

table td {
  background: white;
  padding: 1rem 2rem;
}

td.description {
  color: var(--dark-blue);
}

td.income {
  color: var(--light-green);
}

td.expense {
  color: var(--red-dragon);
}

/* Footer =======*/
footer h3 {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.6;
  font-weight: normal;
}

/* Modal =======*/
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background-color: #F0F2F5;
  padding: 2.4rem;
}

/* Form =======*/
#form {
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
}

input {
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  opacity: 0.4;
}

.input-group.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group.actions .button,
.input-group.actions button {
  width: 48%;
  
}

/* Responsive */
@media(min-width: 800px) {
  html{
    font-size: 87.5%;
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}